<md-toolbar class="order-toolbar md-primary md-whiteframe-z2" ng-class="{'selected':opsOrder.handleOrdeSelection.selectActive}">
	<div class="md-toolbar-tools" ng-if="!(opsOrder.handleOrdeSelection.selectActive)">
		<md-button ng-click="home.toggleSideNav()" class="md-icon-button" aria-label="Menu Icon">
			<md-icon>menu</md-icon>
		</md-button>
		<p>Delivery Boy</p>
		<span flex></span>
		<md-button class="md-icon-button" aria-label="Filter Button">
			<md-icon>search</md-icon>
		</md-button>
		<md-button class="md-icon-button" aria-label="Filter Button">
			<md-icon>notifications_none</md-icon>
		</md-button>
		<md-button ng-click="dgList.toggleFilter()" class="md-icon-button" aria-label="Filter Button">
			<md-icon>filter_list</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-content flex layout-fill layout="row" class="dgList">
	<div flex layout="column" class="dg-list">
		<section flex="90" class="list" layout="row" layout-align="center stretch">
			<md-content flex layout="row" layout-align="center stretch">
				<table class="table-list" layout="column">
					<thead flex="10" class="table-header">
						<tr layout="row" layout-align="center start">
							<th flex-xs="20" flex="10" >Emp No</th>
							<th flex-xs="30" flex="30">Delivery Boy</th>
							<th flex-xs="20" flex="20">Mobile No</th>
							<th flex-xs="20" flex="20">Total working hrs</th>
							<th flex-xs="20" flex="20">Del Executed/Assigned</th>
						</tr>
					</thead>
					<tbody flex="90" class="table-body">
						<tr ng-repeat="dg in dgList.dgs" layout="row" layout-align="center start">
							<td flex-xs="20" flex="10">{{dg.employee_code}}</td>
							<td flex-xs="20" flex="30">{{dg.name}}</td>
							<td flex-xs="20" flex="20">{{dg.phone_number}}</td>
							<td flex-xs="20" flex="20">{{dg.worked_hours}}</td>
							<td flex-xs="20" flex="20">{{dg.no_of_executed_orders}}/{{dg.no_of_assigned_orders}}</td>
						</tr>
					</tbody>
				</table>
			</md-content>
			<!-- <md-card flex> -->
				<!-- <table layout="column" class="table-list">
					<thead flex="10" class="table-header">
						<tr layout="row" layout-align="center start">
							<th flex="10" >Emp No</th>
							<th flex="30">Delivery Boy</th>
							<th flex="20">Mobile No</th>
							<th flex="20">Total working hrs</th>
							<th flex="20">Del Executed/Assigned</th>
						</tr>
					</thead>
					<tbody flex="90" class="table-body">
						<tr ng-repeat="dg in dgList.dgs" layout="row" layout-align="center start">
							<td flex="10">{{dg.employee_code}}</td>
							<td flex="30">{{dg.name}}</td>
							<td flex="20">{{dg.phone_number}}</td>
							<td flex="20">{{dg.worked_hours}}</td>
							<td flex="20">{{dg.no_of_executed_orders}}/{{dg.no_of_assigned_orders}}</td>
						</tr>
					</tbody>
				</table> -->
			<!-- </md-card> -->
		</section>
		<section flex="10" class="footer">
			<div yd-pagination total="{{dgList.total_dgs}}" total-page="{{dgList.total_pages}}" params="dgList.params" list-length="{{dgList.dgs.length}}" paginate="dgList.paginate" get-data="dgList.getDgs()"></div>
		</section>
	</div>
	<md-sidenav class="filter-sidenav md-sidenav-right md-whiteframe-z3" layout="column" md-component-id="dgList-filter">
	</md-sidenav>
</md-content>