.reports {
	padding: 40px;
	.action-section {
		max-height: 300px;
		min-height: 60px;
		md-input-container .md-errors-spacer {
			min-width: 0px;
		}
		.date-picker-section {
			margin-right: 40px;
		}
	}
	.stats-section {
		min-height: 80px;
		max-height: 200px;
		margin-bottom: 40px;
		.stat-box {
			padding: 24px;
			min-height: 40px;
			background-color: primary-color('500');
			color: $white-color;
			text-align: center;
			text-transform: capitalize;
			p {
				margin-top: 0px;
				margin-bottom: 10px;
			}
			&.accent {
				background-color:  orange-accent-color('500');
			}
			&.warn {
				background-color:  $red-color;
			}
			&.success {
				background-color:  $success-color;
			}
		}
	}
	.chart-section {
		padding: 30px;
		width: 100%;
		min-height: 500px;
		max-height: 900px;
		border: 1px solid grey-color('200');
		background-color: grey-color('200');
		position: relative;
	}

	@include mobile {
		padding: 20px;
		.action-section {
			md-input-container {
				margin-bottom: 10px;
				margin-top: 10px;
				padding-bottom: 10px;
			}
			md-autocomplete md-autocomplete-wrap md-progress-linear.md-inline {
				bottom:18px;
			}
			.datepicker-section {
				margin-bottom: 20px;
				.date-picker-section {
					margin-right: 0px;
					margin-bottom: 20px;
				}
			}
			
		}
		.stats-section {
			.stat-box {
				font-size: 12px;
				margin-bottom: 10px;
				padding: 10px;
				min-height: 20px;
				p {
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}
}