<div id="content">
            <div class="menubar fixed">
                <div class="sidebar-toggler visible-xs" ng-click="open_sidebar = !open_sidebar">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Orders
                </div>
                <a href="order-form.html" class="new-user btn btn-success pull-right">
                    <span>New Order</span>
                </a>
            </div>

			<div class="content-wrapper">
				<table id="datatable-example">
                    <thead>
                        <tr>
                            <th tabindex="0" rowspan="1" colspan="1">Order
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Customer
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Date
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Status
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Total
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">Order</th>
                            <th rowspan="1" colspan="1">Customer</th>
                            <th rowspan="1" colspan="1">Date</th>
                            <th rowspan="1" colspan="1">Status</th>
                            <th rowspan="1" colspan="1">Total</th>
                        </tr>
                    </tfoot>
                    <tbody>
                         <tr ng-repeat="order in oders_data">
                            <td>
                                <a href="#">{{order.id}}</a>
                            </td>
                            <td>{{order.consumer}}</td>
                            <td>{{order.delivery_datetime | date:'dd-MMM-yyyy'}}</td>
                            <td class=""><span class="label label-success">{{order.order_status}}</span></td>
                            <td class="center">$399.99</td>
                        </tr>
                    </tbody>
                </table>

			</div>
		</div>