<md-dialog aria-label="ADD TEAM LEAD" ng-cloak class="dgTeamLead" flex="50">
	<md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Team Members</h2>
            <span flex></span>
            <md-button ng-click="dgTeamLead.cancel()" class="md-icon-button" aria-label="close dg edit">
            	<md-icon>clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<div class="team">
				<h3>Select Team Members</h3>
				<md-chips 
					ng-model="dgTeamLead.selectedTeamMembers" 
					md-autocomplete-snap 
					md-transform-chip="dgTeamLead.transformChip($chip)" 
					md-require-match="true">
					<md-autocomplete 
						md-no-cache="true"
						md-selected-item="dgTeamLead.selectedItem" 
						md-search-text="dgTeamLead.searchedDg" 
						md-items="dg in dgTeamLead.dgSearch(dgTeamLead.searchedDg)" 
						md-item-text="dg.name" 
						placeholder="Search for a DG">
						<span md-highlight-text="dgTeamLead.searchedDg">{{dg.name}}</span>
						<md-not-found>
							No states matching "{{opsOrder.searchedDg}}" were found.
						</md-not-found>
					</md-autocomplete>
					<md-chip-template>
						<span>
							<strong>{{$chip.name}}</strong>
						</span>
					</md-chip-template>
				</md-chips>
			</div>
			<!-- <div class="pincode">
				<h3>Select Pin Codes</h3>
				<md-chips 
					ng-model="dgTeamLead.selectedPincodes" 
					md-autocomplete-snap 
					md-transform-chip="dgTeamLead.chip($chip)" 
					md-require-match="true"
					md-on-add="dgTeamLead.addTlPincode($chip)"
					md-on-remove="dgTeamLead.removeTlPincode($chip)">
					<md-autocomplete 
						md-no-cache="true"
						md-selected-item="dgTeamLead.selectedPin" 
						md-search-text="dgTeamLead.searchedPincode" 
						md-items="dg in dgTeamLead.pincodes" 
						md-item-text="dg.pincode" 
						placeholder="Search for a Pin Code">
						<span md-highlight-text="dgTeamLead.searchedPincode">{{dg.pincode}}</span>
						<md-not-found>
							No states matching "{{opsOrder.searchedPincode}}" were found.
						</md-not-found>
					</md-autocomplete>
					<md-chip-template>
						<span>
							<strong>{{$chip.pincode}}</strong>
						</span>
					</md-chip-template>
				</md-chips>
			</div> -->
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="dgTeamLead.cancel()" class="md-warn">
            Cancel
        </md-button>
        <md-button ng-click="dgTeamLead.submitTlData()" class="md-primary" ng-disabled="dgTeamLead.selectedTeamMembers.length == 0" ng-if="!dgTeamLead.DG.is_teamlead" style="margin-right:20px;">
            Done
        </md-button>
        <md-button ng-click="dgTeamLead.submitTlData()" class="md-primary" ng-disabled="dgTeamLead.selectedTeamMembers.length == 0" ng-if="dgTeamLead.DG.is_teamlead" style="margin-right:20px;">
            Done
        </md-button>
    </md-dialog-actions>
</md-dialog>