<md-content flex layout-fill layout="column" class="history">
	<section flex="90" layout="column" class="list" layout-align="start stretch">
		<div class="header-list" layout="row">
			<div>Date</div>
			<div>Vendor</div>
			<div>Amount</div>
		</div>
		<div class="history-list">
			
		</div>
	</section>
	<section flex="10" class="footer">
		<div yd-pagination total="{{history.total_deposits}}" total-page="{{history.total_pages}}" params="history.params" list-length="{{history.historyDeposits.length}}" paginate="history.paginate" get-data="history.getDeposits()"></div>
	</section>
</md-content>
<md-sidenav class="filter-sidenav md-sidenav-right md-whiteframe-z3" layout="column" md-component-id="cod-filter">
	<md-toolbar class="md-primary md-whiteframe-z1">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Filter Button" ng-click="history.resetParams()">
				<md-icon>backspace</md-icon>
			</md-button>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Filter Button" ng-click="history.getDeposits()">
				<md-icon>done</md-icon>
			</md-button>
		</div>
 	</md-toolbar>
 	<md-content flex layout="column">
 		<md-list>
 			<md-subheader>START DATE</md-subheader>
 			<md-list-item class="md-1-line">
				<md-datepicker ng-model="history.params.start_date" md-placeholder="Enter date"></md-datepicker>
			</md-list-item>
			<md-subheader>END DATE</md-subheader>
 			<md-list-item class="md-1-line">
				<md-datepicker ng-model="history.params.end_date" md-placeholder="Enter date"></md-datepicker>
			</md-list-item>
			<md-subheader>VENDOR</md-subheader>
			<div class="vendor-list">
				<md-autocomplete
					md-no-cache="true"
					md-selected-item="history.selectedVendor"
					md-search-text="history.searchVendor"
					md-selected-item-change="history.selectedVendorChange(vendor)"
					md-items="vendor in history.vendorSearchTextChange(history.searchVendor)"
					md-item-text="vendor.name"
					md-min-length="1"
					placeholder="Search Vendor">
					<md-item-template>
						<span md-highlight-text="history.searchVendor" md-highlight-flags="^i">{{vendor.name}}</span>
					</md-item-template>
					<md-not-found>
						No states matching "{{history.searchVendor}}" were found.
					</md-not-found>
				</md-autocomplete>
			</div>
 		</md-list>
 	</md-content>
</md-sidenav>