<md-content flex layout-fill layout="column" class="history" ng-if="history.total_deposits > 0">
	<section flex="90" layout="column" class="list" layout-align="start stretch">
		<div class="header-list" layout="row">
			<div flex>Date</div>
			<div flex>Vendor</div>
			<div flex>UTR</div>
			<div flex>Amount</div>
		</div>
		<div class="history-list">
			<div ng-repeat="hs in history.historyDeposits" class="history-data" ng-click="hs.open = !hs.open">
				<div class="history-overview" layout="row">
					<div flex>{{hs.date}}</div>
					<div flex hide-xs>{{hs.deliveries[0].vendor_name}}</div>
					<div flex hide-gt-xs>{{hs.deliveries[0].vendor_name | limitTo :5}}{{hs.deliveries[0].vendor_name > 5 ? '...' : ''}}</div>
					<div flex hide-xs>{{hs.utr_number | limitTo :10}}{{hs.utr_number.length > 10 ? '...' : ''}}</div>
					<div flex hide-gt-xs>{{hs.utr_number | limitTo :5}}{{hs.utr_number.length > 5 ? '...' : ''}}</div>
					<div flex layout="row">
						<span>{{hs.cod_amount}}</span>
						<span flex></span>
						<md-button class="md-icon-button" aria-label="Filter Button" ng-click="hs.open = !hs.open">
							<md-icon ng-if="!hs.open">keyboard_arrow_down</md-icon>
							<md-icon ng-if="hs.open">keyboard_arrow_up</md-icon>
						</md-button>
					</div>
				</div>
				<div class="history-detail" layout="column" ng-show="hs.open">
					<div class="deliveries-list" layout="row">
						<div flex>Order Id</div>
						<div flex>Amount</div>
						<div flex></div>
						<div flex></div>
					</div>
					<div ng-repeat="dl in hs.deliveries">
						<div class="deliveries-overview" layout="row">
							<div flex>{{dl.delivery_id}}</div>
							<div flex>{{dl.cod_amount}}</div>
							<div flex></div>
							<div flex></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section flex="10" class="footer">
		<div yd-pagination total="{{history.total_deposits}}" total-page="{{history.total_pages}}" params="history.params" list-length="{{history.historyDeposits.length}}" paginate="history.paginate" get-data="history.getDeposits()"></div>
	</section>
</md-content>
<md-content flex layout-fill layout="row" class="no-content" layout-align="center center" ng-if="history.total_deposits == 0">
	<div flex="50" flex-xs="90">
		<img src="/static/assets/images/COD/history.png">
	</div>
</md-content>
<md-sidenav class="filter-sidenav md-sidenav-right md-whiteframe-z3" layout="column" md-component-id="cod-filter">
	<md-toolbar class="md-primary md-whiteframe-z1">
		<div class="md-toolbar-tools">
			Filters
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Filter Button" ng-click="history.resetParams()">
				<md-tooltip md-direction="bottom">
          			Reset
        		</md-tooltip>
				<md-icon>refresh</md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Filter Button" ng-click="history.revertToPageOne()">
				<md-tooltip md-direction="bottom">
          			Apply
        		</md-tooltip>
				<md-icon>done</md-icon>
			</md-button>
		</div>
 	</md-toolbar>
 	<md-content flex layout="column">
 		<md-list>
 			<md-subheader>START DATE</md-subheader>
 			<md-list-item class="md-1-line">
				<md-datepicker ng-model="history.params.start_date" md-placeholder="Enter date"></md-datepicker>
			</md-list-item>
			<md-subheader>END DATE</md-subheader>
 			<md-list-item class="md-1-line">
				<md-datepicker ng-model="history.params.end_date" md-placeholder="Enter date"></md-datepicker>
			</md-list-item>
			<md-subheader>VENDOR</md-subheader>
			<div class="vendor-list">
				<md-autocomplete
					md-no-cache="true"
					md-selected-item="history.selectedVendor"
					md-search-text="history.searchVendor"
					md-selected-item-change="history.selectedVendorChange(vendor)"
					md-items="vendor in history.vendorSearchTextChange(history.searchVendor)"
					md-item-text="vendor.name"
					md-min-length="0"
					placeholder="Search Vendor">
					<md-item-template>
						<span md-highlight-text="history.searchVendor" md-highlight-flags="^i">{{vendor.name}}</span>
					</md-item-template>
					<md-not-found>
						No states matching "{{history.searchVendor}}" were found.
					</md-not-found>
				</md-autocomplete>
			</div>
 		</md-list>
 	</md-content>
</md-sidenav>