<!-- <md-sidenav  class="site-sidenav md-sidenav-left md-whiteframe-z2 md-primary" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"> -->
<md-sidenav  class="site-sidenav md-sidenav-left md-whiteframe-z2 md-primary" md-component-id="left">
	<div class="nav-header">
		<a ui-sref="home" md-ink-ripple layout="column" layout-align="center center">
			<img flex="none" src="/static/assets/images/logo.png">
			<h1 flex="none" class="md-headline">{{::home.user_name}}</h1>
		</a>
	</div>
	<md-content flex>
		<md-list>
			<md-subheader>GENERAL</md-subheader>
			<md-list-item md-ink-ripple class="md-1-line" ng-if="home.tabs.order" ui-sref-active="active">
				<a flex ui-sref="home.opsorder" class="tab-liks"  layout="row">
					<img ng-src="/static/assets/images/cart.png" class="md-avatar" alt="{{item.who}}" />
					<h1 class="md-subhead">Orders</h1>
				</a>
				<md-divider ></md-divider>
			</md-list-item>
			<md-list-item md-ink-ripple class="md-1-line" ng-if="home.tabs.customer" ui-sref-active="active">
				<a flex class="tab-liks"  layout="row">
					<img ng-src="/static/assets/images/contacts.png" class="md-avatar" alt="{{item.who}}" />
					<h1 class="md-subhead">Customers</h1>
				</a>
				<md-divider ></md-divider>
			</md-list-item>
			<md-list-item md-ink-ripple class="md-1-line" ng-if="home.tabs.products" ui-sref-active="active">
				<a flex class="tab-liks"  layout="row">
					<img ng-src="/static/assets/images/present.png" class="md-avatar" alt="{{item.who}}" />
					<h1 class="md-subhead">Products</h1>
				</a>
				<md-divider ></md-divider>
			</md-list-item>
			<md-list-item md-ink-ripple class="md-1-line" ng-if="home.tabs.dg" ui-sref-active="active">
				<a flex ui-sref="home.dgList" class="tab-liks" layout="row" >
					<img ng-src="/static/assets/images/biker.png" class="md-avatar" alt="{{item.who}}" />
					<h1 class="md-subhead">Delivery Boy</h1>
				</a>
				<md-divider ></md-divider>
			</md-list-item>
			<md-list-item md-ink-ripple class="md-1-line" ng-if="home.tabs.vendor" ui-sref-active="active">
				<a flex class="tab-liks" layout="row" >
					<img ng-src="/static/assets/images/briefcase.png" class="md-avatar" alt="{{item.who}}" />
					<h1 class="md-subhead">Vendors</h1>
				</a>
				<md-divider ></md-divider>
			</md-list-item>
			<md-list-item md-ink-ripple class="md-1-line" ng-if="home.tabs.reports" ui-sref-active="active">
				<a flex class="tab-liks"  layout="row">
					<img ng-src="/static/assets/images/pie-chart.png" class="md-avatar" alt="{{item.who}}" />
					<h1 class="md-subhead">Reports</h1>
				</a>
				<md-divider ></md-divider>
			</md-list-item>
		</md-list>
		<md-list>
			<md-subheader>HELP</md-subheader>
			<md-list-item md-ink-ripple class="md-1-line" ng-if="home.tabs.feedback" ui-sref-active="active">
				<a flex class="tab-liks"  layout="row">
					<img ng-src="/static/assets/images/phone.png" class="md-avatar" alt="{{item.who}}" />
					<h1 class="md-subhead">Feedback</h1>
				</a>
				<md-divider ></md-divider>
			</md-list-item>
			<md-list-item md-ink-ripple class="md-1-line" ng-if="home.tabs.tutorial" ui-sref-active="active">
				<a flex class="tab-liks"  layout="row">
					<img ng-src="/static/assets/images/magnifyingglass.png" class="md-avatar" alt="{{item.who}}" />
					<h1 class="md-subhead">Tutorial</h1>
				</a>
				<md-divider ></md-divider>
			</md-list-item>
		</md-list>
		<md-list>
			<md-subheader>ACCOUNT</md-subheader>
			<md-list-item md-ink-ripple class="md-1-line" ui-sref-active="active">
				<a flex class="tab-liks"  layout="row">
					<img ng-src="/static/assets/images/settings.png" class="md-avatar" alt="{{item.who}}" />
					<h1 class="md-subhead">Settings</h1>
				</a>
				<md-divider ></md-divider>
			</md-list-item>
			<md-list-item md-ink-ripple id="logout-button" class="md-1-line">
				<a flex class="tab-liks" layout="row"  ng-click="home.showLogoutDialog($event)">
					<img ng-src="/static/assets/images/unlocked.png" class="md-avatar" alt="{{item.who}}" />
					<h1 class="md-subhead">Logout</h1>
				</a>
				<md-divider ></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
</md-sidenav>
<div class="request-loader request-loader-hidden">
	<md-progress-linear class="md-warn" md-mode="indeterminate"></md-progress-linear>
</div>
<div layout="column" flex ui-view>
</div>

