.feedbackDetail {
	padding : 10px;
	padding-top: 25px;
	.note {
		height: 100%;
		min-height: 100%;
		max-height: 100%;
		.event {
			.profile {
				height: 50px;
				width: 50px;
				background: primary-color('500');
				@include border-radius(50%);
				&.teamYG {
					@include background(image-url("/static/assets/images/feedback/yourguy.png") no-repeat center center);
					@include background-size(contain);
				}
				&.vendor {
					@include background(image-url("/static/assets/images/feedback/vendor.png") no-repeat center center);
					@include background-size(contain);
				}
			}
			.bar {
				min-height: 100%;
				height: 100%;
				width: 5px;
				background: orange-accent-color('500');
			}
		}
		.content {
			padding: 25px;
			margin-bottom: 40px;
			background: primary-color('100');
			h3 {
				margin:0;
				font-size: 14px;
				color: grey-color('500');
				line-height: 1.8;
			}
			p {
				margin: 0;
				font-size: 15px;
				font-weight: 500;
			}
			&.vendor {
				background: grey-color('200');
			}
		}
	}
	.note-text {
			padding: 40px;
			padding-left : 10%;
			padding-bottom: 20px;
			textarea {
				border: 2px solid grey-color('200');
			}
			@include mobile {
				padding: 10px;
				padding-left : 20%;
				padding-bottom: 10px;
			}
		}
}

.tootbar-button {
	color: $white-color;
	min-height: 18px;
	line-height: 1;
		span {
			font-size: 9px;
			font-weight: 900;
		}
	}