<md-toolbar class="yg-toolbar md-primary md-whiteframe-z2" ng-class="{'selected':dgList.searchVendorActive}">
	<div class="md-toolbar-tools" ng-if="!vendorList.searchVendorActive">
		<md-button ng-click="home.toggleSideNav()" class="md-icon-button" aria-label="Menu Icon">
			<md-icon>menu</md-icon>
		</md-button>
		<p>COD</p>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cod.toggleFilter()" aria-label="Filter Button">
			<md-tooltip md-direction="bottom">
          		Filters
        	</md-tooltip>
			<md-icon>filter_list</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-content flex layout-fill class="cod" layout="column">
	<md-tabs md-selected="cod.selectedIndex" class="md-primary cod-tabs" md-swipe-content="true">
		<md-tab>
			<md-tab-label>
				<span ui-sref="home.cod.deposit">Deposits</span>
			</md-tab-label>
		</md-tab>
		<md-tab>
			<md-tab-label ui-sref="home.cod.transfer">
				<span ui-sref="home.cod.transfer">Transfers</span>
			</md-tab-label>
		</md-tab>
		<md-tab>
			<md-tab-label>
				<span ui-sref="home.cod.history">Transfer History</span>
			</md-tab-label>
		</md-tab>
	</md-tabs>
	<div flex ui-view layout="column" class="tabs-view"></div>
</md-content>


