.orderDetail {
	md-list-item {
		padding: 0;
		padding-bottom : 20px;
	}
	padding: 20px 30px; 
	.md-title {
		color: primary-color('500');
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.md-caption {
		text-transform: uppercase;
		color: grey-color('500');
	}
	.md-body-1 {
		margin: 5px 0;
	}
	.status-section {
		padding-bottom: 30px;
		.status-image {
			text-align: center;
			img {
				width: 70px;
				height: 70px;
			}
			p {
				margin: 0;
				color: grey-color('500');
				font-size: 14px;
				text-transform: capitalize;
			}
		}
		.status-divider {
			width: 120px;
			border-bottom: 5px solid orange-accent-color('700');
		}
	}
	.status-timings {
		font-size: 14px;
		color: grey-color('500');
		.timings {
			font-size: 16px;
			color: grey-color('800');
		}
	}
	@include mobile {
		padding: 10px;
		.status-section {
			padding-bottom: 20px;
			.status-image {
				text-align: center;
				img {
					width: 50px;
					height: 50px;
				}
				p {
					margin: 0;
					color: grey-color('500');
					font-size: 12px;
					text-transform: capitalize;
				}
			}
			.status-divider {
				width: 40px;
				border-bottom: 5px solid orange-accent-color('700');
			}
		}
		.status-timings {
			font-size: 10px;
			color: grey-color('500');
			.timings {
				font-size: 12px;
				color: grey-color('800');
			}
		}
	}
}