<md-dialog aria-label="VERIFY DEPOSIT LEAD" ng-cloak class="declineDeposit">
	<md-dialog-content>
		<div class="md-dialog-content">
			<h2>Are you sure you want to decline</h2>
			<p>Decline amount will be duducted from delivery guy salary</p>
			<md-input-container>
				<label>Enter Difference Amount</label>
	        	<input ng-model="declineDeposit.decline.pending_salary_deduction">
			</md-input-container>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
     	<span flex></span>
		<md-button ng-click="declineDeposit.cancel()" class="md-warn">
			cancel
		</md-button>
		<md-button ng-click="declineDeposit.answer(declineDeposit.decline)" class="md-primary" style="margin-right:20px;">
			Verify
		</md-button>
    </md-dialog-actions>
</md-dialog>