$blue-color :  #52c9eb !default;
$white-color:  #ffffff !default;
$orange-color: #fcc06a !default;
$black-color:  #000000 !default;
$red-color:    #F44336 !default;
$purple-color: #9C27B0 !default;
$warn-color:   #FFCC80 !default;
$accent-color: #2196F3 !default;
$success-color: #39B54A !default;

// Screen breakpoints
$xs-breakpoint: 599px;
$sm-breakpoint: 960px;
$lg-breakpoint: 1024px;

