<md-toolbar class="yg-toolbar md-primary md-whiteframe-z2">
	<div class="md-toolbar-tools">
		<md-button ng-click="feedbackDetail.goBack()" class="md-icon-button" aria-label="Menu Icon">
			<md-icon>arrow_back</md-icon>
		</md-button>
		<p>Query {{feedbackDetail.ticket.subject | limitTo :20}}{{feedbackDetail.ticket.subject.length > 20 ? '...' : ''}}</p>
		<span flex></span>
		<md-button ng-click="feedbackDetail.showConfirm($event)" ng-if="feedbackDetail.ticket.status == 2">
			<md-tooltip md-direction="bottom">
          		Resolve
        	</md-tooltip>
			<md-icon>done</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-content flex layout-fill layout="column" class="feedbackDetail">
	<section flex layout-fill layout="column">
		<div flex="none" class="note" layout="row">
			<div flex="10" flex-xs="20" class="event" layout="column" layout-align="center center">
				<div class="profile vendor"></div>
				<div  flex class="bar"></div>
			</div>
			<div flex="70" flex-xs="80" class="content vendor">
				<div>
					<h3>OrderId -  {{feedbackDetail.ticket.subject}} #{{feedbackDetail.getGroupName(feedbackDetail.ticket.group_id)}}</h3>
					<h3>Created By - {{feedbackDetail.ticket.requester_name}} </h3>
					<h3>Created On - {{feedbackDetail.ticket.created_at | date:'dd MMM yy h:mm a'}}</h3>
					<h3>Due By - {{feedbackDetail.ticket.due_by | date:'dd MMM yy h:mm a'}}</h3>
					<p>{{feedbackDetail.ticket.description}}</p>
				</div>
			</div>
		</div>
		<div flex="none" class="note" layout="row" ng-repeat="note in feedbackDetail.ticket.notes" ng-if="!$first">
			<div flex="10" flex-xs="20" class="event" layout="column" layout-align="start center">
				<div class="profile" ng-class="{'teamYG': note.note.user_id == feedbackDetail.ticket.responder_id,'vendor':note.note.user_id == feedbackDetail.ticket.requester_id}"></div>
				<div flex class="bar" ng-if="!$last"></div>
			</div>
			<div flex="70" flex-xs="80" class="content" ng-class="{'vendor':note.note.user_id == feedbackDetail.ticket.requester_id}">
				<div>
					<h3>{{feedbackDetail.getUsername(note.note.user_id) }} added note</h3>
					<h3>Created On <b> {{note.note.created_at | date:'dd MMM yy h:mm a'}} </h3>
					<p>{{note.note.body}}</p>
				</div>
			</div>
		</div>
		<div flex="none" class="note-text" layout="row" ng-if="feedbackDetail.ticket.status == 2">
			<textarea flex="80" flex-xs="100" ng-model="feedbackDetail.ticket_data.note.helpdesk_note.body" maxlength="500" rows="5"></textarea>
			<input type="text" ng-model="feedbackDetail.ticket_data.note.helpdesk_note.private" ng-init="feedbackDetail.ticket_data.note.helpdesk_note.private = false" style="display: none;">
		</div>
		<div flex="none" layout="row" ng-if="feedbackDetail.ticket.status == 2" >
			<div flex="80" flex-xs="100" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-click="feedbackDetail.addNotes(feedbackDetail.ticket_data)" ng-disabled="!feedbackDetail.ticket_data.note.helpdesk_note.body" >SEND</md-button>
			</div>
		</div>
	</section>
</md-content>