html {
	height: 100%;
}
body {
	min-height : 100%;
	// font-family: "Roboto";
}
.md-select-value *:first-child { 
	flex: 1 1 auto; 
}
.request-loader {
	display  : block !important;
	position : fixed;
	width:100%;
	height: 3px;
	z-index: 100;
}

.request-loader.request-loader-hidden {
	display: none !important;
	visibility: hidden !important;
}

.order-id {
	color: grey-color('500');
	font-size: 12px;
	font-weight: 600;
	margin: 5px 5px;
}

.bagde {
	min-width: 50px;
	text-align: center;
	color: $white-color;
	padding: 3px 5px;;
	@include border-radius(3px);
	font-size: 10px;
	background-color: primary-color('500');
}

.bagde-warn {
	background-color: $warn-color;
}


.yg-toolbar.selected {
	background-color: primary-color('400') !important;
	color: $white-color !important;
}


.table-list {
	overflow: hidden;
	.table-header {
		min-width: 600px;
		width: 100%;
		background-color: orange-accent-color('400');;
		tr {
			margin-right: 20px;
			th {
				text-align: left;
				padding: 15px;
				color: grey-color('600');
				font-size: 14px;
			}
		}
	}
	.table-body {
		min-width: 600px;
		overflow-y: auto;
		width: 100%;
		tr {
			border-bottom: 1px solid grey-color('300');
			cursor: pointer;
			td {
				text-align: left;
				padding: 15px;
				color: grey-color('600');
				font-size: 12px;
			}
			&:hover { 
				background-color: orange-accent-color('100');
			}
		}
	}
	@include mobile {
		overflow-x: auto;
		.table-header {
			tr {
				margin-right: 0;
				th {
					font-size: 12px;
					padding: 10px;
				}
			}
		}
		.table-body {
			tr {
				td {
					padding: 10px;
					font-size: 11px;
				}
			}
		}
	}
}

.md-button.md-accent.md-lg-btn {
	padding: 8px 20px;
	font-weight: 600;
	max-width : 130px;
	span {
		color: $white-color;
	}
}
