.dgList {
	padding : 0px;
	overflow-y: hidden;
	height: 100%;
	background-color: grey-color('100') !important;;
	.dg-list {
		padding: 0px;
		.list {
			position: relative;
			z-index: 9;
			overflow: hidden;
			padding: 10px;
			md-content {
				overflow: hidden;
			}
		}
		.footer {
			height: 50px; 
			z-index: 10;
		}
	}
	.floating-button {
		position: absolute;
		bottom: 30px;
		right: 50px;
	}
}