.dgCreate {
	.dgCreateForm {
		padding-top: 15px;
		.form-section {
			max-width: 800px;
			md-input-container {
				margin : 0;
				margin-left: 10px;
				margin-right: 10px;
				.error_msg {
					height: 24px;
				}
			}
		}
	}
}