.dgDetail {
	.profile-view {
		min-height: 300px;
		max-width: 80%;
		padding: 25px;
		.profile-data{
			min-height: 30px;
			// max-height: 100px;
			min-width: 50px;
			max-width: 300px;
			margin-top: 20px;
			label {
				margin: 0;
				padding:0;
				font-size: 12px;
				color: grey-color('500');
				text-transform: uppercase;
			}
			h5 {
				margin: 5px 0px;
				padding:0;
				font-size: 15px;
				font-weight: 500;
				text-transform: capitalize;
			}
			.list-overflow {
				max-height: 100px;
				max-width: 150px;
				overflow: auto;
			}
		}
		@include mobile {
			max-width: 100%;
		}
		
	}
	.md-tab {
		color: grey-color('600') !important;
		font-weight: 600;
	}
	.tabs-view {
		md-tabs.md-ygBlueTheme-theme.md-hue-3 md-ink-bar {
			height: 4px;
			color: primary-color('700');
			background-color: primary-color('600');
		}
		.md-ygBlueTheme-theme.md-hue-3 .md-datepicker-input{
			color: rgb(0, 0, 0);
			background-color: rgb(255,255,255);
		}
	}
	.attendance {
		.attendance-button {
			background-color: $success-color !important;
		}
		.attendance-action {
			padding:15px;
		}
		.attendance-table {
			table {
				width: 100%;
				border-collapse: collapse;
				.table-body {
					tr {
						cursor: auto;
						&:hover { 
							background-color: $white-color;
						}
					}
				}
				
			}
		}
	}
	.team-members {
		padding: 15px;
		h5 {
			margin: 10px 10px;
			font-size: 14px;
			color: grey-color('500');
		}
		table {
			border-collapse: collapse;
			width: 100%;
			text-align: left;
			color: grey-color('700');
			thead {
				tr {
					border-bottom: 1px solid grey-color('300');
					th{
						padding: 15px 15px;
						font-size: 12px;
					}
				}
			}
			tbody,tfoot {
				tr {
					border-bottom: 1px solid grey-color('300');
					td{
						padding: 15px 15px;
						font-size: 14px;
					}
				}
			}
			tfoot {
				cursor: pointer;
				color: orange-accent-color('500');
			}
		}
	}	
	.is-team-lead {
		position: absolute;
		top: 25px;
		right: 25px;
		@include mobile {
			top: 5px;
			right: 5px;
		}
	}
}