.dgEdit {
	max-width: 800px;
	.edit-view {
		.profile-data {
			min-height: 30px;
			max-height: 100px;
			min-width: 50px;
			max-width: 350px;
			margin-top: 20px;
			md-input-container {
				margin : 0;
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 20px;
				.error_msg {
					height: 24px;
				}
			}
		}
	}
}