<md-dialog aria-label="ADD TEAM LEAD" ng-cloak class="statusUpdate  md-cornered" flex="50">
	<md-dialog-content>
		<md-content>
			<md-tabs md-border-bottom md-dynamic-height class="md-primary">
				<md-tab id="tab1">
					<md-tab-label>Pickup</md-tab-label>
					<md-tab-body>
						<div class="status-tab">
							<p class="md-title"> Update the status of the selected orders to pickedup</p>
							<md-button ng-click="statusUpdate.cancel()" class="md-warn md-raised">
								Cancel
							</md-button>
							<md-button ng-click="statusUpdate.updatePickup(statusUpdate.pickup)" class="md-primary md-raised" style="margin-right:20px;">
								Update 
							</md-button>
						</div>
					</md-tab-body>
				</md-tab>
				<md-tab id="tab2">
					<md-tab-label>Pickup Attempted</md-tab-label>
					<md-tab-body>
						<div class="status-tab" layout="row" layout-wrap layout-align="center center">
							<p class="md-title" flex="80"> Update the status of the selected orders to attempted</p>
							<md-input-container flex="50">
								<label>Enter the reason for unsuccessful pickup</label>
								<input ng-model="statusUpdate.pickup.data.delivery_remarks">
							</md-input-container>
							<div flex="100">
								<md-button ng-click="statusUpdate.cancel()" class="md-warn md-raised">
									Cancel
								</md-button>
								<md-button ng-click="statusUpdate.updatePickupAttempted(statusUpdate.pickup)" class="md-primary md-raised" style="margin-right:20px;">
									Update 
								</md-button>
							</div>
						</div>
					</md-tab-body>
				</md-tab>
				<md-tab id="tab3">
					<md-tab-label>Delivery</md-tab-label>
					<md-tab-body>
						<div class="status-tab" layout="row" layout-wrap layout-align="center center">
							<p class="md-title" flex="100"> Update the status of the selected orders to delivered</p>
							<div flex="10" style="min-width: 110px;">
								<md-radio-group ng-model="statusUpdate.delivery.data.delivered_at">
									<md-radio-button value="CUSTOMER"  class="md-primary">Customer</md-radio-button>
									<md-radio-button value="RECEPTION" class="md-primary">Reception</md-radio-button>
									<md-radio-button value="DOOR_STEP" class="md-primary">Door Step</md-radio-button>
									<md-radio-button value="SECURITY"  class="md-primary">Security</md-radio-button>
							    </md-radio-group>
							</div>
							<div flex="100">
								<md-input-container flex="20">
									<label>Enter Cod Amount</label>
									<input ng-model="statusUpdate.delivery.data.cod_collected_amount">
								</md-input-container>
								<md-input-container flex="80">
									<label>Enter the remarks</label>
									<input ng-model="statusUpdate.delivery.data.delivery_remarks">
								</md-input-container>	
							</div>
							<div flex="100">
								<md-button ng-click="statusUpdate.cancel()" class="md-warn md-raised">
									Cancel
								</md-button>
								<md-button ng-click="statusUpdate.updateDelivery(statusUpdate.delivery)" class="md-primary md-raised" style="margin-right:20px;">
									Update 
								</md-button>
							</div>
						</div>
					</md-tab-body>
				</md-tab>
				<md-tab id="tab4">
					<md-tab-label>Delivery Attempted</md-tab-label>
					<md-tab-body>
						<div class="status-tab" layout="row" layout-wrap layout-align="center center">
							<p class="md-title" flex="80"> Update the status of the selected orders to attempted</p>
							<md-input-container flex="50">
								<label>Enter the reason for unsuccessful delivery</label>
								<input ng-model="statusUpdate.delivery.data.delivery_remarks">
							</md-input-container>
							<div flex="100">
								<md-button ng-click="statusUpdate.cancel()" class="md-warn md-raised">
									Cancel
								</md-button>
								<md-button ng-click="statusUpdate.updateDeliveryAttempted(statusUpdate.delivery)" class="md-primary md-raised" style="margin-right:20px;">
									Update 
								</md-button>
							</div>
						</div>
					</md-tab-body>
				</md-tab>
			</md-tabs>
		</md-content>
	</md-dialog-content>
</md-dialog>