@font-face {
  font-family: "Roboto";
  src: url('/static/assets/fonts/Roboto-Regular.ttf') format('truetype');
}
/* line 1, ../sass/modules/_components.scss */
html {
  height: 100%;
}

/* line 4, ../sass/modules/_components.scss */
body {
  min-height: 100%;
}

/* line 9, ../sass/modules/_components.scss */
.request-loader {
  display: block !important;
  position: absolute;
  width: 100%;
  height: 5px;
  z-index: 100;
}

/* line 17, ../sass/modules/_components.scss */
.request-loader.request-loader-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 22, ../sass/modules/_components.scss */
.order-id {
  color: #9E9E9E;
  font-size: 12px;
  font-weight: 600;
  margin: 5px 5px;
}

/* line 29, ../sass/modules/_components.scss */
.bagde {
  min-width: 50px;
  text-align: center;
  color: #ffffff;
  padding: 3px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 10px;
  background-color: #52C9EA;
}

/* line 39, ../sass/modules/_components.scss */
.bagde-warn {
  background-color: #FFCC80;
}

/* line 44, ../sass/modules/_components.scss */
.table-list {
  width: 100%;
}
/* line 46, ../sass/modules/_components.scss */
.table-list .table-header {
  width: 100%;
  padding: 0 20px;
  background-color: #FDCD88;
}
/* line 51, ../sass/modules/_components.scss */
.table-list .table-header tr th {
  text-align: left;
  padding: 15px;
  color: #757575;
  font-size: 14px;
}
/* line 59, ../sass/modules/_components.scss */
.table-list .table-body {
  overflow-y: auto;
  width: 100%;
}
/* line 62, ../sass/modules/_components.scss */
.table-list .table-body tr {
  padding-left: 20px;
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
}
/* line 66, ../sass/modules/_components.scss */
.table-list .table-body tr td {
  text-align: left;
  padding: 15px;
  color: #757575;
  font-size: 12px;
}
/* line 72, ../sass/modules/_components.scss */
.table-list .table-body tr:hover {
  background-color: #FFEFDA;
}

/* line 1, ../sass/modules/_login.scss */
.login-page {
  height: 100%;
  height: 100vh;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjYzA2YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM2MzYzNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcc06a), color-stop(100%, #363636));
  background-image: -moz-linear-gradient(#fcc06a, #363636);
  background-image: -webkit-linear-gradient(#fcc06a, #363636);
  background-image: linear-gradient(#fcc06a, #363636);
}
/* line 5, ../sass/modules/_login.scss */
.login-page .login-error-message {
  margin: 15px 10px;
  color: #FE5E64;
}

/* line 1, ../sass/modules/_home.scss */
.site-sidenav {
  background-color: #ffffff;
  color: #52C9EA;
  max-width: 280px;
}
/* line 5, ../sass/modules/_home.scss */
.site-sidenav .tab-liks {
  color: #616161;
  text-decoration: none;
}
/* line 9, ../sass/modules/_home.scss */
.site-sidenav md-list {
  padding: 0px;
  color: #52C9EA;
}
/* line 12, ../sass/modules/_home.scss */
.site-sidenav md-list md-list-item {
  padding: 0 30px;
}
/* line 14, ../sass/modules/_home.scss */
.site-sidenav md-list md-list-item .md-avatar {
  width: 30px;
  height: 30px;
}
/* line 18, ../sass/modules/_home.scss */
.site-sidenav md-list md-list-item .md-subhead {
  font-size: 12px;
}
/* line 21, ../sass/modules/_home.scss */
.site-sidenav md-list md-list-item:hover {
  background-color: #D3F5FF;
}
/* line 25, ../sass/modules/_home.scss */
.site-sidenav md-list md-list-item.active {
  background-color: #B3EEFF;
}
/* line 29, ../sass/modules/_home.scss */
.site-sidenav md-content {
  background: transparent;
  padding-bottom: 100px;
}
/* line 33, ../sass/modules/_home.scss */
.site-sidenav .md-subheader {
  background-color: #ffffff;
  color: #18A2CB;
}
/* line 37, ../sass/modules/_home.scss */
.site-sidenav .md-subheader .md-subheader-inner {
  padding: 10px;
}

/* line 42, ../sass/modules/_home.scss */
.nav-header {
  text-align: center;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3YzBlNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE4YTJjYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37c0e7), color-stop(100%, #18a2cb));
  background-image: -moz-linear-gradient(#37c0e7, #18a2cb);
  background-image: -webkit-linear-gradient(#37c0e7, #18a2cb);
  background-image: linear-gradient(#37c0e7, #18a2cb);
  border: #18A2CB;
}
/* line 46, ../sass/modules/_home.scss */
.nav-header a {
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}
/* line 51, ../sass/modules/_home.scss */
.nav-header img {
  width: auto;
  height: 100px;
}

/* line 1, ../sass/modules/_opsOrder.scss */
.order-toolbar.selected {
  background-color: #89DAF1 !important;
  color: #ffffff !important;
}

/* line 6, ../sass/modules/_opsOrder.scss */
.filter-sidenav {
  max-width: 240px;
  padding: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 10, ../sass/modules/_opsOrder.scss */
.filter-sidenav md-input-container {
  margin: 10px 0;
}
/* line 13, ../sass/modules/_opsOrder.scss */
.filter-sidenav .vendor-list, .filter-sidenav .dg-list {
  padding: 10px 10px;
}
/* line 16, ../sass/modules/_opsOrder.scss */
.filter-sidenav .status-list, .filter-sidenav .time-list {
  padding-top: 10px;
  font-size: 12px;
}
/* line 20, ../sass/modules/_opsOrder.scss */
.filter-sidenav .cod {
  font-size: 12px;
}
/* line 22, ../sass/modules/_opsOrder.scss */
.filter-sidenav .cod md-switch {
  margin: 10px 10px;
}

/* line 28, ../sass/modules/_opsOrder.scss */
.opsOrder {
  background-color: #F5F5F5 !important;
  overflow-y: hidden;
  padding: 0;
}
/* line 32, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list {
  padding: 0;
}
/* line 34, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .header {
  z-index: 10;
  padding: 5px;
  min-height: 50px;
}
/* line 38, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .header md-checkbox {
  margin-bottom: 0;
}
/* line 42, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .footer {
  border-top: 1px solid #E0E0E0;
  min-height: 50px;
  max-height: 50px;
  padding: 5px;
  z-index: 10;
}
/* line 48, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .footer .stats, .opsOrder .order-list .footer .pagination {
  margin: 0 10px;
}
/* line 50, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .footer .stats p, .opsOrder .order-list .footer .pagination p {
  font-size: 12px;
  color: #616161;
  margin: 10px 10px;
}
/* line 57, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list {
  height: 80%;
  z-index: 9;
  overflow-y: scroll;
  padding: 5px 10px;
}
/* line 62, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list md-card {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 10px 0px;
  cursor: pointer;
}
/* line 66, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list md-card .icon {
  margin-right: 10px;
}
/* line 70, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list .card-content {
  padding: 5px;
}
/* line 72, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list .card-content .customer, .opsOrder .order-list .list .card-content .vendor, .opsOrder .order-list .list .card-content .dg {
  padding-right: 15px;
}
/* line 74, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list .card-content .customer p, .opsOrder .order-list .list .card-content .vendor p, .opsOrder .order-list .list .card-content .dg p {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #616161;
}
/* line 80, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list .card-content .customer span, .opsOrder .order-list .list .card-content .vendor span, .opsOrder .order-list .list .card-content .dg span {
  font-size: 12px;
  color: #757575;
}
/* line 86, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list .card-action {
  margin: 5px;
}
/* line 89, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list .card-action .order-time .icon, .opsOrder .order-list .list .card-action .payment .icon {
  margin-right: 10px;
}
/* line 92, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list .card-action .order-time p, .opsOrder .order-list .list .card-action .payment p {
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
  color: #616161;
}
/* line 98, ../sass/modules/_opsOrder.scss */
.opsOrder .order-list .list .card-action .order-time span, .opsOrder .order-list .list .card-action .payment span {
  font-size: 10px;
  color: #757575;
}

/* line 1, ../sass/modules/_pagination.scss */
.ydPagination {
  background-color: #F5F5F5 !important;
  border-top: 1px solid #E0E0E0;
  min-height: 50px;
  max-height: 50px;
  padding: 5px;
  z-index: 10;
}
/* line 8, ../sass/modules/_pagination.scss */
.ydPagination .stats, .ydPagination .pagination {
  margin: 0 10px;
}
/* line 10, ../sass/modules/_pagination.scss */
.ydPagination .stats p, .ydPagination .pagination p {
  font-size: 12px;
  color: #616161;
  margin: 10px 10px;
}

/* line 1, ../sass/modules/_dgList.scss */
.dgList {
  padding: 0px;
  overflow-y: hidden;
  height: 100%;
  background-color: #F5F5F5 !important;
}
/* line 6, ../sass/modules/_dgList.scss */
.dgList .dg-list {
  padding: 0px;
}
/* line 8, ../sass/modules/_dgList.scss */
.dgList .dg-list .list {
  z-index: 9;
  overflow: hidden;
  padding: 10px;
}
/* line 12, ../sass/modules/_dgList.scss */
.dgList .dg-list .list md-content {
  overflow: hidden;
}
/* line 16, ../sass/modules/_dgList.scss */
.dgList .dg-list .footer {
  height: 50px;
  z-index: 10;
}
