<div id="account">
	<div id="content">
		<div id="sidebar">
			<div class="sidebar-toggler visible-xs" ng-click="$parent.open_sidebar = !$parent.open_sidebar">
				<i class="ion-navicon"></i>
			</div>
			<h3>My account</h3>
			<ul class="menu">
				<li>
					<a ui-sref="home.account.settings" ui-sref-active="active">
						<i class="ion-ios7-person-outline"></i>
						Profile
					</a>
				</li>
				<!-- <li>
					<a href="/1.1/account/billing">
						<i class="ion-card"></i>
						Billing
					</a>
				</li>
				<li>
					<a href="/1.1/account/notifications">
						<i class="ion-ios7-email-outline"></i>
						Notifications
					</a>
				</li>
				<li>
					<a href="/1.1/account/support">
						<i class="ion-ios7-help-outline"></i>
						Support
					</a>
				</li> -->
			</ul>
		</div>	
		<div ui-view autoscroll="true"></div>
	</div>
</div>