<div id="content">
	<div class="menubar fixed">
		<div class="sidebar-toggler visible-xs" ng-click="$parent.open_sidebar = !$parent.open_sidebar">
			<i class="ion-navicon"></i>
		</div>
		
		<div class="page-title">
			Feedback
		</div>
		<a ng-if="role.vendor" ui-sref="home.create_complaints" class="new-user btn btn-success pull-right">
			<span>New Ticket</span>
		</a>
	</div>
	<div class="content-wrapper" style="overflow: auto;">
		<div ng-show="groups" class="col-md-12">
			<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1" ng-show="show_complaint_msg || filtered_complaints.length == 0">
                <div class="no-content">
                    <img src="/static/webapp/images/no-feedback.png">
                    <h1>{{ complaint_msg || 'Sorry! No feedback found.'}}</h1>
                </div>
            </div>
			<div style="margin: 10px 0px" ng-hide="show_complaint_msg && searched_complaint == undefined">
                <input type="text" class="form-control input-sm" ng-model="searched_complaint" placeholder="Search by anything.....">
            </div>
			<table id="orders-datatable" class="table dataTable" st-table="display_complaints" st-safe-src="complaints" ng-hide="show_complaint_msg || filtered_complaints.length == 0">
				<thead>
					<tr>
						<th style="width:20%">Order ID</th>
						<th>Status</th>
						<th ng-if="role.ops">Name</th>
						<th>Created At</th>
						<th>Type</th>
						<th>Description</th>
					</tr>
					<!-- <tr>
						<th colspan="6">
							<input st-search placeholder="Search by anything....." class="form-control" type="search"/>
						</th>
					</tr> -->
				</thead>
				<tbody>
					<tr class="asLink" ng-repeat="cpl in filtered_complaints  = ( display_complaints | filter: searched_complaint)" ui-sref="home.complain_details({id:cpl.display_id})" >
        				<td style="width:20%">
        					{{cpl.subject | limitTo :20}}{{cpl.subject.length > 20 ? '...' : ''}}
        				</td>
        				<td style="padding-top:15px;">
							<span class="label" ng-class="{'label-warning' : (cpl.status_name == 'Open'),'label-success' : (cpl.status_name == 'Resolved' || cpl.status_name == 'Closed')}">{{cpl.status_name}}</span>
						</td>
						<td ng-if="role.ops">
							{{cpl.requester_name}}
						</td>
        				<td>
        					{{cpl.created_at | date:'dd MMM yy'}} 
        				</td>
                        <td>
                           {{getGroupName(cpl.group_id)}}
                        </td>
                        <td>
                        	 {{cpl.description | limitTo :20 }}{{cpl.description.length > 20 ? '......' : ''}}
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>