<div id="form">
	<div id="wrapper">
		<div id="content">
			<div class="menubar">
				<div class="sidebar-toggler visible-xs" ng-click="$parent.open_sidebar = !$parent.open_sidebar">
					<i class="ion-navicon"></i>
				</div>

				<div class="page-title">
					Add a new Order 
				</div>
			</div>

			<div class="content-wrapper">
				<form class="form-horizontal content-form animated fadeInUp" ng-submit="order_form.$valid && createOrder()" name="order_form">
					<div ng-hide="success_msg">
						<accordion close-others="false">
							<!-- Product Details -->
							<accordion-group is-open="accordian.order">
								<accordion-heading>
									<div>
										Order Details
										<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.order, 'glyphicon-chevron-right': !accordian.order}"></i>
									</div>
								</accordion-heading>
								<div class="form-group">
									<div class="col-md-6 col-sm-6">
										<div class="input-group form-joint">
											<input class="form-control "  
												type="text" 
												ng-model="order.products[0].product" 
												placeholder="Enter Products Name eg. Coke" 
												typeahead="product as product.name for product in products | filter : $viewValue | limitTo :10" 
												typeahead-on-select="onSelect($item,0)" 
												typeahead-editable="false"
												typeahead-append-to-body="true"
												ng-required="true"
												typeahead-focus />
											<span class="input-group-btn">
												<button class="btn btn-info" ng-click="openProductModal()" style="padding:9px;" id="" type="button" tooltip="Click to Add New Products" tooltip-trigger="mouseenter"  tooltip-placement="left" tooltip-append-to-body><span class="glyphicon glyphicon-plus"></span></button>
											</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<input class="form-control" type="number" ng-model="order.products[0].quantity" min="1" placeholder="Quantity" ng-change="calculate_total_cost()" ng-required="true" />
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<input class="form-control" type="number" min="0" ng-model="order.total_cost" placeholder="Total Cost" ng-required="true" />
									</div>
								</div>
								<div ng-repeat="product in order.products" ng-if="!$first">
									<div class="form-group">
										<div class="col-md-6 col-sm-8 col-xs-10">
											<input  class="form-control form-joint" 
													type="text" 
													ng-model="product.product" 
													placeholder="Enter Products Name" 
													typeahead="prod as prod.name for prod in products | filter : $viewValue | limitTo :10" 
													typeahead-on-select="onSelect($item,$index)" 
													typeahead-editable="false"
													typeahead-append-to-body="true"
													typeahead-focus />
										</div>
										<div class="col-md-1 col-sm-1 col-xs-1 pull-right" ng-click="remove(product)" style="padding-top:10px; cursor:pointer;">
											<span class="glyphicon glyphicon-remove pull-right"></span>				
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6">
											<input class="form-control" type="number" ng-model="product.quantity" placeholder="Quantity" min="1" ng-change="calculate_total_cost()" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 col-md-2 col-xs-10" >
										<div class="input-group date_picker" style="margin-top:30px;">
											<input type="text" 
											class="input-sm form-control" 
											ng-click="startPickOpen($event)" 
											datepicker-popup="{{format}}" 
											ng-model="order.pickup_time" 
											max-date="'2016-12-31'" 
											is-open="datePicker.PickOpened" 
											ng-required="true" 
											close-text="Close" 
											show-weeks="false" 
											ng-change="validate_time()" 
											datepicker-append-to-body="true" 
											ng-disabled="order.recurring"/>
											<span class="input-group-btn">
												<button type="button" class="btn" ng-click="startPickOpen($event)" style="background-color:#3C434D; color:#fff" ng-disabled="order.recurring">
													<i class="glyphicon glyphicon-calendar" style="font-size:15.5px;"></i>
												</button>
											</span>
										</div>
									</div>
									<label class="col-sm-1 col-md-1 col-xs-4 control-label" style="margin-top:18px;">Pickup Time</label>
									<div class="col-md-4 col-sm-3" id="time_picker">
										<timepicker ng-model="order.pickup_time" minute-step="mstep" ng-change="validate_time()"></timepicker>
									</div>
									<label class="col-sm-1 col-md-1 col-xs-4 control-label" style="margin-top:18px;">Delivery Time</label>
									<div class="col-md-4 col-sm-3" id="time_picker">
										<timepicker ng-model="order.delivery_time" minute-step="mstep" ng-change="validate_time()"></timepicker>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-2 col-sm-3 form-joint">
										<div class="checkbox checkbox-danger">
											<input id="checkbox" type="checkbox" ng-model="order.is_cod" >
											<label for="checkbox" class="link-type">Cash On Deliver</label>
										</div>
									</div>
									<div class="col-sm-3 col-md-3" ng-if="order.is_cod">
										<input type="text" class="form-control" ng-model="order.cod_amount" placeholder="Enter COD amount" ng-required="true">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-md-1 control-label">Remarks</label>
									<div class="col-md-4 col-sm-5 ">
										<textarea ng-model="order.notes" maxlength="500" class="form-control" placeholder="Please enter some notes within 500 characters" rows="2" cols="30">
										</textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-md-1 col-xs-3 control-label">Recurring</label>
									<div class="col-sm-1 col-md-6 col-xs-6" style="padding-top:5px;">
										<div class="onoffswitch">
											<input type="checkbox" name="onoffswitch" ng-model="order.recurring" class="onoffswitch-checkbox" id="myonoffswitch" />
											<label class="onoffswitch-label" for="myonoffswitch">
												<span class="onoffswitch-inner"></span>
												<span class="onoffswitch-switch"></span>
											</label>
										</div>
									</div>
								</div>
								<!-- Recurring order form -->
								<div class="slide" ng-show="order.recurring">
									<div class="form-gruop">
										<label class="col-sm-2 col-md-2 col-md-offset-1 control-label">Start Date</label>
										<div class="form-joint col-sm-3 col-md-2" >
											<div class="input-group date_picker">
												<input type="text" 
												class="input-sm form-control" 
												datepicker-popup="{{format}}" 
												ng-click="startOpen($event)"
												ng-model="order.pickup_time" 
												min-date="today" 
												max-date="'2016-12-31'" 
												is-open="datePicker.startOpen" 
												ng-required="true" 
												close-text="Close" 
												show-weeks="false" 
												datepicker-append-to-body="true" />
												<span class="input-group-btn form-joint">
													<button type="button" class="btn" ng-click="startOpen($event)" style="background-color:#3C434D; color:#fff">
														<i class="glyphicon glyphicon-calendar" style="font-size:15.5px;"></i>
													</button>
												</span>
											</div>
										</div>
										<label class="col-sm-2 col-md-2 control-label">End Date</label>
										<div class=" col-sm-3 col-md-2" >
											<div class="input-group date_picker">
												<input type="text" 
												class="input-sm form-control" 
												datepicker-popup="{{format}}"
												ng-click="endOpen($event)" 
												ng-model="order.end_date" 
												min-date="order.start_date" 
												max-date="'2016-12-31'" 
												is-open="datePicker.endOpen" 
												ng-required="true" 
												close-text="Close" 
												show-weeks="false" 
												datepicker-append-to-body="true" />
												<span class="input-group-btn ">
													<button type="button" class="btn" ng-click="endOpen($event)" style="background-color:#3C434D; color:#fff">
														<i class="glyphicon glyphicon-calendar" style="font-size:15.5px;"></i>
													</button>
												</span>
											</div>
										</div>
									</div>
									<div class="form-gruop">
										<div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1" style="text-align:center;">
											<div class="days">
												<ul class="nav nav-pills">
													<li ng-repeat="data in week" ng-click="data.value = !data.value" ng-class="{'active':data.value}"><a class="btn btn-default" style="cursor:pointer;">{{data.day}}</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</accordion-group>
							<!-- Customer Details -->
							<accordion-group is-open="accordian.consumer">
								<accordion-heading>
									<div>
										Customer Details
										<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.consumer, 'glyphicon-chevron-right': !accordian.consumer}"></i>
									</div>
								</accordion-heading>
								<div ng-show="cust_loaded">
									<!-- <div class="input-group" style="margin-bottom:15px;">
										<input type="text" class="form-control" ng-model="person" placeholder="Search" />
										<span class="input-group-btn">
											<button class="btn btn-info pull-right" ng-click="openCustModal()" style="padding:9px;" id="" type="button" tooltip="Click to Add New Customers" tooltip-trigger="mouseenter"  tooltip-placement="left" tooltip-append-to-body="true"><span class="glyphicon glyphicon-plus"></span></button>
										</span>
									</div> -->
									<div>
										<table st-table="display_consumer" st-safe-src="customers" class="scroll" >
											<thead>
												<tr >
													<th colspan="4" class="input-group">
														<input style="width:96%;" type="search" st-search placeholder="search" class="form-control" placeholder="Search" />
														<span class="input-group-btn">
															<button class="btn btn-info pull-right" ng-click="openCustModal()" style="padding:9px;" id="" type="button" tooltip="Click to Add New Customers" tooltip-trigger="mouseenter"  tooltip-placement="left" tooltip-append-to-body="true"><span class="glyphicon glyphicon-plus"></span></button>
														</span>
													</th>
												</tr>
												<tr>
													<th><input type="checkbox" name="selectall" ng-click="select_all_user()" ng-model="order.is_all_selected" /></th>
													<th>Name</th>
													<th>Address</th>
												</tr>
											</thead>
											<tbody class="cust_table">
												<tr ng-repeat="customer in display_consumer | filter: person">
													<td style="width:5%;"> <input type="checkbox" name="selectall" ng-model="customer.selected" ng-required="someCustSelect()"></td>
													<td style="width:20%;">{{customer.user.first_name}}</td>
													<td style="width:75%;">
														<select class="form-control" ng-model="customer.address_id" ng-options="address.id as 'Flat-No-'+address.flat_number+', Building-'+address.building+', Street- '+address.street+', Area-'+address.area.area_name for address in customer.addresses">
														</select>
													</td>
												</tr>
											</tbody>
											<tfoot class="cust_table_footer">
												<tr>
													<td colspan="3" class="text-center">
														<div st-pagination="" st-items-by-page="50" st-displayed-pages="7"></div>
													</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<div class="loader" ng-hide="cust_loaded">
									<img ng-hide="error_cust_message" src="/static/webapp/images/377.GIF" style="height:50px;">
									<h3 class="alert alert-danger">{{cust_message}}</h3>
								</div>
							</accordion-group>
							<!-- Vendor Details -->
							<accordion-group heading="Vendr Details" is-open="accordian.vendor">
								<accordion-heading>
									<div>
										Vendor Details
										<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.vendor, 'glyphicon-chevron-right': !accordian.vendor}"></i>
									</div>
								</accordion-heading>
								<div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="text" class="form-control" ng-model="order.vendor_order_id" placeholder="Vendor order Id">
									</div>
								</div>
								<div class="form-group">
									<div class="pickup-address" style="border:none;">
										<ul class="col-md-12 col-sm-12 col-xs-12">
											<li ng-repeat="address in user.addresses" class="col-md-6 col-xs-12 col-sm-6 " ng-click="select_pickup(address.id)" >
												<input type="radio" name="pickup" ng-model="order.pickup_address_id" ng-value="address.id" ng-required="true">
												<label>{{address.flat_number}},{{address.building}},{{address.street}},{{address.area.area_name}}</label>
											</li>
											<li>
												<a class="btn btn-info" ng-click="openAddressModal()">Add new address</a>
											</li>
										</ul>
										<!-- <input type="radio" name="pickup_address" ng-model="order.pickup_address_id" ng-value="address.id" ng-required="true">&nbsp;&nbsp;Flat-No-{{address.flat_number}}, Building-{{address.building}}, Street-{{address.street}}, Area-{{address.area.area_name}} -->
									</div>
								</div>
							</accordion-group>
						</accordion>
						<div style="text-align:center; margin-bottom:20px; font-weight:700" ng-show="show_error_message" class="animated pulse">
							<span class="error_message"  style="font-size:2.5ex;" >{{error_msg}}</span>
						</div>
						<div style="text-align:center;" class="form-joint" ng-show="in_process">
							<img src="/static/webapp/images/377.GIF" style="height:30px;">
						</div>
						<div class="form-group form-actions">
							<div class="col-sm-10">
								<a ui-sref="home.order" class="btn btn-default">Cancel</a>
								<button type="submit" class="btn btn-success" ng-disabled="order_form.$invalid">Place Order</button>
							</div>
						</div>
					</div>
				</form>	
				<div ng-show="success_msg">
					<div success-box message="confirmation_msg"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="customTemplate.html">
	<a>
		<p style="margin:0px;" bind-html-unsafe="match.model.user.first_name | typeaheadHighlight:query"></p>
		<p style="margin:0px; font-size:12px;" bind-html-unsafe="match.model.addresses[0].area.area_name"></p>
	</a>
</script>