<div id="content">
	<div class="menubar fixed">
		<div class="sidebar-toggler visible-xs" ng-click="$parent.open_sidebar = !$parent.open_sidebar">
			<i class="ion-navicon"></i>
		</div>
		<div class="page-title">
			Products
		</div>
	</div>
	<div class="content-wrapper">
        <div>
        	<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1" ng-show="show_product_msg || filtered_products.length == 0">
                <div class="no-content">
                    <img src="/static/webapp/images/no-product.png">
                    <h1>{{product_msg || 'Sorry! No products found.'}}</h1>
                </div>
            </div>
            <div style="margin: 10px 0px" ng-hide="show_product_msg && searched_product == undefined">
                <input type="text" class="form-control input-sm" ng-model="searched_product" placeholder="Search for product">
            </div>
		    <table st-table="display_product" st-safe-src="products" class="table table-striped" ng-hide="show_product_msg || filtered_products.length == 0">
		    	<thead>
        			<tr style="cursor:pointer;">
        				<th st-sort="name">
        					Name
        				</th>
        				<th st-sort="category">
        					Cost 
        				</th>
        				<th st-sort="description">
        					Description 
        				</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr ng-repeat="prod in filtered_products = ( display_product | filter: searched_product)">
        				<td>
        					{{prod.name}} 
        				</td>
        				<td>
        					{{prod.cost}} 
        				</td>
        				<td>
        					{{prod.description}}
        				</td>
        			</tr>
        		</tbody>
        		<tfoot>
        			<tr>
        				<td colspan="5" class="text-center">
        					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        				</td>
        			</tr>
        		</tfoot>
		    </table>
        </div>
	</div>
</div>